<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="_nilnul_._LIB_" version="1.1.241016.32119" targetFramework="net48" />
  <package id="_nilnul_._LINQ_" version="1.1.241016.32253" targetFramework="net48" />
  <package id="EntityFramework" version="6.5.1" targetFramework="net481" />
  <package id="Newtonsoft.Json" version="13.0.3" targetFramework="net481" />
  <package id="nilnul._bit_._LIB_" version="1.1.250131.95404" targetFramework="net48" />
  <package id="nilnul._character_._LIB_" version="2.1.250224.152829" targetFramework="net48" />
  <package id="nilnul._collective_._LIB__" version="1.0.241202.181605" targetFramework="net48" />
  <package id="nilnul._geometry_._LIB_" version="1.0.250306.82121" targetFramework="net48" />
  <package id="nilnul._num_._LIB_" version="1.1.241212.85916" targetFramework="net48" />
  <package id="nilnul._num_._LINQ_" version="1.1.241212.85916" targetFramework="net48" />
  <package id="nilnul._obj_._LIB_" version="1.2.250313.102236" targetFramework="net48" />
  <package id="nilnul._rel_._LIB_" version="1.2.250212.104800" targetFramework="net48" />
  <package id="nilnul._relation_._LIB_" version="1.0.250219.42755" targetFramework="net48" />
  <package id="nilnul._set_._LIB_" version="1.1.250118.94723" targetFramework="net48" />
  <package id="nilnul._time_._LIB_" version="1.1.250305.31021" targetFramework="net48" />
  <package id="nilnul._txt_._LIB_" version="1.1.250209.133640" targetFramework="net48" />
  <package id="nilnul._xml_._LIB_" version="1.1.250227.70442" targetFramework="net48" />
  <package id="nilnul.collection_._discrete_._LIB_" version="1.1.241123.135147" targetFramework="net48" />
  <package id="nilnul.math._calculus_._LIB_" version="1.1.250208.114502" targetFramework="net48" />
  <package id="nilnul.num._complex_._LIB_" version="1.1.250226.163750" targetFramework="net48" />
  <package id="nilnul.num._integer_._LIB_" version="1.1.241104.100014" targetFramework="net48" />
  <package id="nilnul.num._quotient_._LIB_" version="1.1.250313.131820" targetFramework="net48" />
  <package id="nilnul.num._real_._LIB_" version="2.1.250313.133324" targetFramework="net48" />
  <package id="nilnul.num.real._func_._LIB_" version="1.1.250302.90628" targetFramework="net48" />
  <package id="nilnul.num.real._matrix_._LIB_" version="1.1.250222.101628" targetFramework="net48" />
  <package id="nilnul.num.real._stream_._LIB_" version="1.0.250211.94435" targetFramework="net48" />
  <package id="System.Buffers" version="4.6.0" targetFramework="net48" />
  <package id="System.Collections.Concurrent" version="4.3.0" targetFramework="net48" />
  <package id="System.Collections.Immutable" version="9.0.3" targetFramework="net48" />
  <package id="System.Collections.NonGeneric" version="4.3.0" targetFramework="net48" />
  <package id="System.Linq.Expressions" version="4.3.0" targetFramework="net48" />
  <package id="System.Memory" version="4.6.0" targetFramework="net48" />
  <package id="System.Numerics.Vectors" version="4.6.0" targetFramework="net48" />
  <package id="System.Reflection.Primitives" version="4.3.0" targetFramework="net48" />
  <package id="System.Runtime" version="4.3.1" targetFramework="net48" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="6.1.0" targetFramework="net48" />
  <package id="System.Runtime.Extensions" version="4.3.1" targetFramework="net48" />
  <package id="System.Runtime.Handles" version="4.3.0" targetFramework="net48" />
  <package id="System.Runtime.Numerics" version="4.3.0" targetFramework="net48" />
  <package id="System.Text.RegularExpressions" version="4.3.1" targetFramework="net48" />
  <package id="System.Xml.ReaderWriter" version="4.3.1" targetFramework="net48" />
  <package id="System.Xml.XDocument" version="4.3.0" targetFramework="net48" />
</packages>