<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="_nilnul_._LIB_" version="1.1.241016.32119" targetFramework="net48" />
  <!--<package id="_nilnul_._LINQ_" version="1.1.241016.32253" targetFramework="net48" />
  <package id="EntityFramework" version="6.5.1" targetFramework="net48" />-->
  <package id="MathNet.Numerics" version="5.0.0" targetFramework="net48" />
  <!--<package id="Microsoft.Bcl.AsyncInterfaces" version="9.0.7" targetFramework="net48" />
  <package id="Newtonsoft.Json" version="13.0.3" targetFramework="net48" />-->
  <package id="nilnul._bit_._LIB_" version="1.1.250417.141758" targetFramework="net48" />
  <package id="nilnul._character_._LIB_" version="2.1.250403.154606" targetFramework="net48" />
  <package id="nilnul._collective_._LIB__" version="1.0.250314.91731" targetFramework="net48" />
  <package id="nilnul._geometry_._LIB_" version="1.0.250321.131336" targetFramework="net48" />
  <package id="nilnul._num_._LIB_" version="1.1.241212.85916" targetFramework="net48" />
  <package id="nilnul._num_._LINQ_" version="1.1.241212.85916" targetFramework="net48" />
  <package id="nilnul._obj_._LIB_" version="1.2.250804.43209" targetFramework="net48" />
  <package id="nilnul._rel_._LIB_" version="1.2.250424.44336" targetFramework="net48" />
  <package id="nilnul._relation_._LIB_" version="1.0.250323.170516" targetFramework="net48" />
  <package id="nilnul._set_._LIB_" version="1.1.250118.94723" targetFramework="net48" />
  <package id="nilnul._time_._LIB_" version="1.1.250713.164734" targetFramework="net48" />
  <package id="nilnul._txt_._LIB_" version="1.1.250728.52243" targetFramework="net48" />
  <package id="nilnul._xml_._LIB_" version="1.1.250227.70442" targetFramework="net48" />
  <!--<package id="nilnul.collection_._discrete_._LIB_" version="1.1.241123.135147" targetFramework="net48" />-->
  <package id="nilnul.math._calculus_._LIB_" version="1.1.250413.152254" targetFramework="net48" />
  <package id="nilnul.num._complex_._LIB_" version="1.1.250804.43243" targetFramework="net48" />
  <package id="nilnul.num._integer_._LIB_" version="1.1.250329.142625" targetFramework="net48" />
  <package id="nilnul.num._quotient_._LIB_" version="1.1.250715.43409" targetFramework="net48" />
  <package id="nilnul.num._real_._LIB_" version="2.1.250803.30255" targetFramework="net48" />
  <package id="nilnul.num.real._func_._LIB_" version="1.1.250413.134211" targetFramework="net48" />
  <package id="nilnul.num.real._matrix_._LIB_" version="1.1.250804.55522" targetFramework="net48" />
  <package id="nilnul.num.real._stream_._LIB_" version="1.0.250211.94435" targetFramework="net48" />
  <package id="sergeyBochkanov._alglib_._LIB_" version="1.1.250326.50838" targetFramework="net48" />
  <!--<package id="System.Buffers" version="4.6.1" targetFramework="net48" />
  <package id="System.Collections.Concurrent" version="4.3.0" targetFramework="net48" />
  <package id="System.Collections.Immutable" version="9.0.5" targetFramework="net48" />
  <package id="System.Collections.NonGeneric" version="4.3.0" targetFramework="net48" />
  <package id="System.IO.Pipelines" version="9.0.7" targetFramework="net48" />-->
  <package id="System.Linq.Expressions" version="4.3.0" targetFramework="net48" />
  <!--<package id="System.Memory" version="4.6.3" targetFramework="net48" />-->
  <package id="System.Numerics.Vectors" version="4.6.1" targetFramework="net48" />
  <!--<package id="System.Reflection.Primitives" version="4.3.0" targetFramework="net48" />
  <package id="System.Runtime" version="4.3.1" targetFramework="net48" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="6.1.2" targetFramework="net48" />
  <package id="System.Runtime.Extensions" version="4.3.1" targetFramework="net48" />
  <package id="System.Runtime.Handles" version="4.3.0" targetFramework="net48" />
  <package id="System.Runtime.Numerics" version="4.3.0" targetFramework="net48" />
  <package id="System.Text.Encodings.Web" version="9.0.7" targetFramework="net48" />
  <package id="System.Text.Json" version="9.0.7" targetFramework="net48" />-->
  <package id="System.Text.RegularExpressions" version="4.3.1" targetFramework="net48" />
  <!--<package id="System.Threading.Tasks.Extensions" version="4.6.3" targetFramework="net48" />-->
  <package id="System.ValueTuple" version="4.6.1" targetFramework="net48" />
  <package id="System.Xml.ReaderWriter" version="4.3.1" targetFramework="net48" />
  <package id="System.Xml.XDocument" version="4.3.0" targetFramework="net48" />
</packages>
